html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  @include color("background-color", "grey-200");
  @include color("color", "text");
  font-family: "Roboto", "Arial", sans-serif;
  min-height: 100%;
  box-sizing: border-box;
}