$colors: (
  primary: #00bd71,
  text: #141414,
  grey-100: #fafafa,
  grey-200: #F2F6F9,
  grey-300: #d5dee7,
  grey-400: #cfcfcf,
  grey-500: #c4c4c4,
  grey-600: #4f5168,
  grey-700: #585d6d,
  grey-800: #5c5c5c,
  grey-900: #1B1A2D,
  black: #000,
  white: #fff,
);

:root {
  --primary: #{map-get($colors, primary)};
  --text: #{map-get($colors, text)};
  --grey-100: #{map-get($colors, grey-100)};
  --grey-200: #{map-get($colors, grey-200)};
  --grey-300: #{map-get($colors, grey-300)};
  --grey-400: #{map-get($colors, grey-400)};
  --grey-500: #{map-get($colors, grey-500)};
  --grey-600: #{map-get($colors, grey-600)};
  --grey-700: #{map-get($colors, grey-700)};
  --grey-800: #{map-get($colors, grey-800)};
  --grey-900: #{map-get($colors, grey-900)};
  --black: #{map-get($colors, black)};
  --white: #{map-get($colors, white)};
};

@mixin var($property, $colorName) {
  #{$property}: map-get($colors, $colorName);
  #{$property}: var(--#{$colorName});
}
